mixin article-item(item)
  .col-4.mb-3
    .product-item
      .inner-image
        img(
          src = item.thumbnail 
          alt = item.title
          )

      .inner-content
        h3.inner-title
          a(
            href=`/articles/detail/${item.slug}`
          ) #{item.title}
        .inner-description !{item.description}
